[submodule "emacs.d/org-mode"]
	path = emacs.d/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "emacs.d/yasnippet"]
	path = emacs.d/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "emacs.d/auto-complete"]
	path = emacs.d/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
